<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <!-- Buttons -->
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-toolbar">
            <button
              type="sumbmit"
              class="btn btn-success mr-1"
              [disabled]="recipeForm.invalid"
            >
              Save
            </button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">
              Cancel
            </button>
          </div>
        </div>
      </div>
      <!-- Name -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              [formControlName]="controlName"
              [placeholder]="controlName"
            />
          </div>
        </div>
      </div>
      <!-- Image path and image preview -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              class="form-control"
              [formControlName]="controlImageUrl"
              [placeholder]="controlImageUrl"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="" class="img-responsive" />
        </div>
      </div>
      <!-- Description -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              rows="6"
              [formControlName]="controlDescription"
              [placeholder]="controlDescription"
            ></textarea>
          </div>
        </div>
      </div>
      <!-- Ingredients -->
      <!-- as table -->
      <div class="row" style="display: none;">
        <table class="table table-sm table-striped table-hover">
          <thead class="thead-light">
            <tr>
              <th *ngFor="let header of ingredientHeaders">{{ header }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of ingredients; index as i">
              <td *ngFor="let col of columnNames">
                {{ ingredients[i][col] }}
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-danger"
                  aria-label="Left Align"
                >
                  <span
                    class="glyphicon glyphicon-trash"
                    aria-hidden="true"
                  ></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- As list of inputs -->
      <div class="row">
        <div class="col-xs-12" [formArrayName]="controlIngredients">
          <div
            class="row"
            *ngFor="let ingredientCtrl of controls; index as i"
            [formGroupName]="i"
            style="margin-top: 10px;"
          >
            <div class="col-xs-8">
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="new ingredient"
              />
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                min="1"
                class="form-control"
                formControlName="amount"
                placeholder="amount"
              />
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                aria-label="Left Align"
              >
                <span
                  class="glyphicon glyphicon-trash"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
          </div>
          <hr />
          <div class="row form-group">
            <div class="col-xs-12">
              <button
                class="btn btn-success"
                type="button"
                (click)="onAddIngredient()"
              >
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
